<div ng-controller="indexController">
  <div class="container-fluid">
    
    <!-- Loader -->
    <div id="mainDivLoader" style="position: fixed; background-color: rgba(100,100,100,0.5); padding: 0px; margin-left: -15px; width: 100%; height: 100%">
      <div class="ring">
        Loading
        <span id="logo"></span>
      </div>
    </div>
    <!-- End loader -->

    <div class="row" id="mainForm">

      <div class="col-lg-4" id="gmapControl" style="background-color:  #999999;">
        <div class="row">
          <div class="col-lg-12" style="background-color: #555555;border-left: 10px red solid; height: 40px; color:white">
            Vehicle Routing Problem
          </div>
        </div>
        
        <!-- Navbar -->
        <div class="row" id="menuNav" style="padding-bottom: 5px">
          <div class="col-lg-12" style="background-color:  #999999;" >
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="" ng-click="reloadPage()">Home <span class="sr-only">(current)</span></a>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add
                    </a>

                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="" ng-click="addDeliveryLocation()">Delivery Locations</a>
                        <a class="dropdown-item" href="" ng-click="addDepotLocation()">Depot Location</a>
                        <a class="dropdown-item" href="" ng-click="addVehicles()">Vehicles </a>
                      </div>

                  </li>
                  <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Method <span id="chooseMethod"></span>
                    </a>

                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="" ng-click="changeMethod('BF')">
                          Brute force
                        </a>
                        <a class="dropdown-item" href="" ng-click="changeMethod('SA')">
                          Simulated annealing
                        </a>
                      </div>

                  </li>
                  <li class="nav-item" style="">
                    <a id = "idresult" class="nav-link" href="" ng-click="showResult()">Result</a>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" >
                        <a class="nav-link calculateHover" href="" id="calculateListItem" ng-click="start()">Start</a>
                    </li>
                </ul>

              </div>
            </nav>
          </div>
        </div>
        <!-- End navbar -->

        <!-- Main input form for inserting data -->
        <div id="mainInputForm" style="text-align: center;">

          <!-- Picture that will be shown if data is not inserted -->
          <img id="nodata" src="client/data/pictures/nodata.png" alt="Italian Trulli">
          
          <!-- Delivery location form -->
          <div id="addDeliveryLocation">
            
            <div class="row" id="locationInputText">
              <div class="col-lg-12"  style="padding-top: 5px; text-align: left">
                <p style="color:white; margin-bottom: 0px";>Insert location name and quantity of goods for that location</p>
                <input type="text" id="locationInsertName" style="width: 100%; padding-left: 5px; height: 30px;">
                <input type="text" id="locationInsertQuantity" style="width: 100%; padding-left: 5px; height: 30px;">
              </div>
            </div>

            <div class="row" id="locationAddButton" >
              <div class="col-lg-4" style="padding-bottom: 5px">
                <button type="button" class="btn btn-primary btn-sm container-fluid" ng-click="addDeliveryLocationAndGoodsToArray()" style="margin-top: 3px">Add</button>
              </div>
              <div class="col-lg-8">
              </div>
            </div> 

            <div class="row" >
              <div class="col-lg-12">
                <div id="locationInfoList" style="background-color: white;padding-top: 5px; position: relative; overflow: scroll;">
                  <div class="container-fluid" id = "deliveryLocationsInfoListContent">
                    <!-- Items will be added dinamically -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End delivery location form -->

          <!-- Depot form -->
          <div id="addDepotLocation">
            <div class="row" id="depotInputText">
              <div class="col-lg-12"  style="padding-top: 5px; text-align: left">
                <p style="color:white; margin-bottom: 0px";>Insert location name of depot</p>
                <input type="text" id="depotInsertName" style="width: 100%; padding-left: 5px; height: 30px;">
              </div>
            </div>

            <div class="row" id="depotAddButton" >
              <div class="col-lg-4" style="padding-bottom: 5px">
                <button type="button" class="btn btn-primary btn-sm container-fluid" ng-click="addDepotToObject()" style="margin-top: 3px">Add</button>
              </div>
              <div class="col-lg-8">
              </div>
            </div> 

            <div class="row" >
              <div class="col-lg-12">
                <div id="depotInfoList" style="background-color: white;padding-top: 5px; position: relative;">
                  <div class="container-fluid">
                    <div class="row itemlistinfo" id="depotInfoItem">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="depotName">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteDepotLocation()">X</button>
                      </div>
                    </div>
                </div>

                </div>
              </div>
            </div>

          </div>
          <!-- End depot form -->

          <!-- Vehicle form -->
          <div id="addVehicles">

            <div class="row" id="vehicleInputValue">
              <div class="col-lg-12"  style="padding-top: 5px; text-align: left;">
                <p style="color:white; margin-bottom: 0px";>Insert vehicle name and capacity</p>
                <input type="text" id="vehicleInsertName" style="width: 100%; padding-left: 5px; height: 30px;">
                <input type="text" id="vehicleInsertCapacity" style="width: 100%; padding-left: 5px; height: 30px;">
              </div>
            </div>

            <div class="row" id="vehicleAddButton" >
              <div class="col-lg-4" style="padding-bottom: 5px">
                <button type="button" class="btn btn-primary btn-sm container-fluid" ng-click="addVehicleToArray()" style="margin-top: 3px">Add</button>
              </div>
              <div class="col-lg-8">
              </div>
            </div> 

            <div class="row" >
              <div class="col-lg-12">
                <div id="vehiclesInfoList" style="background-color: white;padding-top: 5px; position: relative; overflow: scroll;">
                  <div class="container-fluid" id="vehiclesInfoListContent">
                    <!-- Items will be added dinamically -->
                  </div>

                </div>
              </div>
            </div>

          </div> <!-- End vehicle form -->

          <div id="showResultForm">
              <div class="row" >
              <div class="col-lg-12">
                <div id="resultList" style="background-color: white;padding-top: 5px; position: relative;  font-size: 14px; overflow: scroll;">
                  <div class="container-fluid" id="resultListContent" style="text-align: left">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--  End main input form for inserting data -->
      </div>

      <div class="col-lg-8">
        <!-- Title google map -->
        <div class="row">
          <div class="col-lg-12" style="background-color: #555555; border-left: 10px blue solid;height: 40px; color:white;">
            Google Map
          </div>
        </div>
        <!-- End title google map -->

        <!-- Google maps content -->
        <div class="row">
          <div class="col-lg-12" id="googleMapContent">
          </div>
        </div>
        <!-- End google maps content -->
      </div>
    </div>

  </div>
</div>