<div ng-controller="indexController">
  <div class="container-fluid">
    <div class="row" id="mainForm">

      <div class="col-lg-4" id="gmapControl" style="background-color:  #999999;">
        <div class="row">
          <div class="col-lg-12" style="background-color: #555555;border-left: 10px red solid; height: 40px; color:white">
            Vehicle Routing Problem
          </div>
        </div>
        
        <!-- Navbar -->
        <div class="row" id="menuNav" style="padding-bottom: 5px">
          <div class="col-lg-12" style="background-color:  #999999;" >
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="" ng-click="reloadPage()">Home <span class="sr-only">(current)</span></a>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add
                    </a>

                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="" ng-click="addDeliveryLocation()">Delivery Locations</a>
                        <a class="dropdown-item" href="" ng-click="addDepotLocation()">Depot Location</a>
                        <a class="dropdown-item" href="" ng-click="addVehicles()">Vehicles </a>
                      </div>

                  </li>
                  <li class="nav-item" style="">
                    <a class="nav-link" href="" ng-click="">Result</a>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" >
                        <a class="nav-link calculateHover" href="" id="calculateListItem" ng-click="calculeteTheBestRoutes()">Calculate</a>
                    </li>
                </ul>

              </div>
            </nav>
          </div>
        </div> <!-- End navbar -->

        <!-- Main input form for inserting data -->
        <div id="mainInputForm" style="text-align: center;">

          <!-- Picture that will be shown if data is not inserted -->
          <img id="nodata" src="client/data/pictures/nodata.png" alt="Italian Trulli">
          
          <!-- Delivery location form -->
          <div id="addDeliveryLocation">
            
            <div class="row" id="locationInputText">
              <div class="col-lg-12"  style="padding-top: 5px; text-align: left">
                <p style="color:white; margin-bottom: 0px";>Insert location name and quantity of goods for that location</p>
                <input type="text" id="locationInsertName" style="width: 100%; padding-left: 5px; height: 30px;">
                <input type="text" id="locationInsertQuantity" style="width: 100%; padding-left: 5px; height: 30px;">
              </div>
            </div>

            <div class="row" id="locationAddButton" >
              <div class="col-lg-4" style="padding-bottom: 5px">
                <button type="button" class="btn btn-primary btn-sm container-fluid" ng-click="addDeliveryLocationAndGoodsToArray()" style="margin-top: 3px">Add</button>
              </div>
              <div class="col-lg-8">
              </div>
            </div> 

            <div class="row" >
              <div class="col-lg-12">
                <div id="locationInfoList" style="background-color: white;padding-top: 5px; position: relative;">
                  <div class="container-fluid">
                    <div class="row itemlistinfo" id="locationInfoItem1">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="item1">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteItem(0)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="locationInfoItem2">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="item2">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteItem(1)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="locationInfoItem3">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="item3">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteItem(2)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="locationInfoItem4">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="item4">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteItem(3)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="locationInfoItem5">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="item5">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteItem(4)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="locationInfoItem6">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="item6">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteItem(5)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="locationInfoItem7">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="item7">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteItem(6)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="locationInfoItem8">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="item8">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteItem(7)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="locationInfoItem9">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="item9">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteItem(8)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="locationInfoItem10">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="item10">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteItem(9)">X</button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div> <!-- End delivery location form -->

          <!-- Depot form -->
          <div id="addDepotLocation">
            <div class="row" id="depotInputText">
              <div class="col-lg-12"  style="padding-top: 5px; text-align: left">
                <p style="color:white; margin-bottom: 0px";>Insert location name of depot</p>
                <input type="text" id="depotInsertName" style="width: 100%; padding-left: 5px; height: 30px;">
              </div>
            </div>

            <div class="row" id="depotAddButton" >
              <div class="col-lg-4" style="padding-bottom: 5px">
                <button type="button" class="btn btn-primary btn-sm container-fluid" ng-click="addDepotToObject()" style="margin-top: 3px">Add</button>
              </div>
              <div class="col-lg-8">
              </div>
            </div> 


            <div class="row" >
              <div class="col-lg-12">
                <div id="depotInfoList" style="background-color: white;padding-top: 5px; position: relative;">
                  <div class="container-fluid">
                    <div class="row itemlistinfo" id="depotInfoItem">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="depotName">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteDepotLocation()">X</button>
                      </div>
                    </div>
                </div>

                </div>
              </div>
            </div>

          </div> <!-- End depot form -->

          <!-- Vehicle form -->
          <div id="addVehicles">

            <div class="row" id="vehicleInputValue">
              <div class="col-lg-12"  style="padding-top: 5px; text-align: left">
                <p style="color:white; margin-bottom: 0px";>Insert vehicle name and capacity</p>
                <input type="text" id="vehicleInsertName" style="width: 100%; padding-left: 5px; height: 30px;">
                <input type="text" id="vehicleInsertCapacity" style="width: 100%; padding-left: 5px; height: 30px;">
              </div>
            </div>

            <div class="row" id="vehicleAddButton" >
              <div class="col-lg-4" style="padding-bottom: 5px">
                <button type="button" class="btn btn-primary btn-sm container-fluid" ng-click="addVehicleToArray()" style="margin-top: 3px">Add</button>
              </div>
              <div class="col-lg-8">
              </div>
            </div> 

            <div class="row" >
              <div class="col-lg-12">
                <div id="vehiclesInfoList" style="background-color: white;padding-top: 5px; position: relative;">
                  <div class="container-fluid">
                    <div class="row itemlistinfo" id="vehicleInfoItem1">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="vehicleItem1">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteVehicleItem(0)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="vehicleInfoItem2">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="vehicleItem2">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteVehicleItem(1)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="vehicleInfoItem3">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="vehicleItem3">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteVehicleItem(2)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="vehicleInfoItem4">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="vehicleItem4">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteVehicleItem(3)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="vehicleInfoItem5">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="vehicleItem5">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteVehicleItem(4)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="vehicleInfoItem6">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="vehicleItem6">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteVehicleItem(5)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="vehicleInfoItem7">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="vehicleItem7">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteVehicleItem(6)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="vehicleInfoItem8">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="vehicleItem8">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteVehicleItem(7)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="vehicleInfoItem9">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="vehicleItem9">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteVehicleItem(8)">X</button>
                      </div>
                    </div>
                    <div class="row itemlistinfo" id="vehicleInfoItem10">
                      <div class="col-lg-11 divplistinfo">
                        <p class="plistinfo" id="vehicleItem10">  </p>
                      </div>
                      <div class="col-lg-1 divbtnlistinfo">
                        <button class="buttonlistinfo" ng-click="deleteVehicleItem(9)">X</button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div> <!-- End vehicle form -->

        </div> <!--  End main input form for inserting data -->
      </div>

      <div class="col-lg-8">
        <!-- Title google map -->
        <div class="row">
          <div class="col-lg-12" style="background-color: #555555; border-left: 10px blue solid;height: 40px; color:white;">
            Google Map
          </div>
        </div>

        <!-- Google maps content -->
        <div class="row">
          <div class="col-lg-12" id="googleMapContent">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>