<div ng-controller="gmapController">
    <div class="container-fluid">
        <div class="row" id="mainLayout">
            <div class="col-lg-4" id="gmapControl" style="background-color:  #999999;">
                <div class="row">
                    <div class="col-lg-12" style="background-color: #555555;border-left: 10px red solid; height: 40px; color:white">
                        Vehicle Routing Problem
                    </div>
                </div>
                <div class="row" id="gmapRowNav">
                    <div class="col-lg-12" style="background-color:  #999999;">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Stations
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="" ng-click="addStartPositions()">Add Start Possition</a>
                                            <a class="dropdown-item" href="">Add End Position</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="">Vehicles</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="">Remove</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="row" id="gmapRowInputPlaces"style="padding-top: 5px;padding-bottom: 5px">
                    <div class=col-lg-8 >
                        <input class="form-control" id="txtInsertPosition" type="text">
                    </div>
                    <div class=col-lg-4>
                        <button class="btn btn-primary btn-block">Add</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" id="addPositions" style="background-color:  #999999;">
                        <textarea id="txtaAddPositions">
                        </textarea>
                    </div>
                </div>
                <div class="row" id="gmapRowBtnCompute" style="padding-top: 5px;padding-bottom: 5px">
                    <div class="col-lg-12 btnGmapCalculate" style="background-color: #999999;">
                        <button class="btn btn-primary btn-block">
                        Calculate
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8" id="gmapMapContent" style="background-color:  #999999;">
                <div class="row">
                    <div class="col-lg-12" style="background-color: #555555;border-left: 10px blue solid;height: 40px; color:white;">
                        Google Map
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" id="gmapMap" style="background-color:  #999999;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>