
<div ng-controller = "gmapController">
    <div class="gmapLayout">
    	<div class="gmapContent" id="gmapMap">

    	</div>
    	
    	<div class="gmapNavigationRight">
    		<input type="text" id="txtInsertStartPosition">
    		<button type="button" ng-click="addStartPositions()">Add Start</button>
    		<br>
			<input type="text" id="txtInsertEndPosition">
			<button type="button" ng-click="addEndPositions()">Add End</button>
			<br>
			<button type="button" ng-click="computeRoute()">Compute</button>

    	</div>
    </div>
</div>