<div ng-controller="gmapController">
	<div class="gmapLayout">
		<div class="gmapContent" id="gmapMap"></div>
		<div class="gmapNavigationRight">
			<div id="gmapMapPositions">
				<div id="dropDownMenu">
					<div class="dropdown">
						<button class="dropbtn">Stations</button>
						<div class="dropdown-content">
							<a href="" ng-click="addStartPositions()">Add Start Positions</a>
							<a href="" ng-click="addEndPositions()">Add End Positions</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="dropbtn" ng-click="addVehicles()">Vehicles</button>
					</div>
				</div>
				<div class="positionsVehiclesBox" id="gmapPositionsBox">
					<fieldset>
						<legend>
							<span id="legendSpanValue"></span>
						</legend>
						<input type="text" id="txtInsertPosition">
						<button id="btnInsertPosition">Add</button>
						<textarea id="txtaAddPositions">
						</textarea>
					</fieldset>
				</div>
				<div class="positionsVehiclesBox" id="gmapVehiclesBox">vozilo
				</div>
			</div>
			<div id="gmapCompute">
				<button type="button" id="gmapBtnCompute" ng-click="computeRoute()">Compute</button>
			</div>
		</div>
	</div>
</div>