<div ng-controller = "loginController">
<section class="container" >
			<section class="login-form">
				<form method="post" action="" role="login">
					<section class="form-outer">
						<h2>Sign in</h2>
						<input type="email" name="email" ng-model = "email" placeholder="Email" required class="form-control input-lg" />
						<input type="password" name="password" ng-model = "password" placeholder="Password" required class="form-control input-lg" />
						<button type="button" name="go" ng-click = "loginCheck()" class="btn btn-lg btn-block">Sign in</button>
					</section>
					<div class="form-outer">
						<input type="checkbox" name="remember" value="1" /> Remember me<br />
						<a href="" ng-click="createAccount()">Create account</a> or <a href="" ng-click="resetPassword()">reset password</a>
					</div>
				</form>
			</section>
	</section>

</div>