<div ng-controller = "signupController">
<section class="container" >
			<section class="login-form">
				<form method="post" action="" role="login">
					<section class="form-outer">
						<h2>Sign up</h2>
						<input type="fname" name="fname" ng-model = "fname" placeholder="First Name" required class="form-control input-lg" />
						<input type="lname" name="lname" ng-model = "lname" placeholder="Last Name" required class="form-control input-lg" />
						<input type="email" name="email" ng-model = "email" placeholder="Email" required class="form-control input-lg" />
						<input type="password" name="password" ng-model = "password" placeholder="Password" required class="form-control input-lg" />
						<input type="cpassword" name="cpassword" ng-model = "cpassword" placeholder="Confirm Password" required class="form-control input-lg" />
						<button type="button" name="go" ng-click = "signup()" class="btn btn-lg btn-block">Sign up</button>
						
						<div class = "text-right">
							<a href="" ng-click = "signinFromSignup()">Sign in</a>
						</div>
					</section>
				</form>
			</section>
	</section>

</div>